<%- include('partials/header') -%>

    <main class="container">
        <div id="fh5co-portfolio">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-sm-7 col-md-offset-2 text-center fh5co-heading">
                        <h2>Volunteer Profile</h2>
                        <p>Set up your Volunteer profile!</p>
                    </div>
                </div>
                <div class="col-sm-9 col-sm-push-1 animate-box">
                    <div class="row">
                        <form action="/setup" enctype="multipart/form-data" method="POST">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" name="volunteerName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" name="volunteerEmail">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number"
                                        name="volunteerPhone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Location"
                                        name="volunteerLocation">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control" placeholder="Date of Birth"
                                        name="volunteerDOB">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="file" class="form-control" id="imageUpload" name="file">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="volunteerBio" class="form-control" id="" cols="30" rows="7"
                                        placeholder="Add a short bio"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <%- include('partials/footer') -%>