<%- include('partials/header') -%>

<main class="">
    <div id="fh5co-started">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>What is CareConnect?</h2>
                    <p>Introducing CareConnect—an innovative volunteer matching app designed to combat the isolation
                        and depression prevalent in nursing homes. CareConnect is a heartfelt solution, reconnecting
                        seniors with the joy of human connection and storytelling. Join us in fostering a community
                        where volunteers make a difference, one heartfelt conversation at a time."</p>
                    <!-- <p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p> -->
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-features">
        <div class="container">
            <div class="services-padding">

                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2 class="spacing">Why Volunteer With Care Connect?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 animate-box">
                        <div class="feature-left">
                            <span class="icon">
                                <i class="icon-chat"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Combat Social Isolation</h3>
                                <p>Volunteers play a crucial role in nursing homes by alleviating social isolation
                                    among elderly residents through vital social interaction and companionship,
                                    positively impacting their physical and mental well-being.
                                </p>
                            
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 animate-box">
                        <div class="feature-left">
                            <span class="icon">
                                <i class="icon-book-open"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Life Long Learning</h3>
                                <p>Volunteering in nursing homes provides an opportunity for volunteers to learn
                                    from the wisdom and experiences of the elderly, promoting lifelong learning and
                                    personal growth.</p>
    
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="feature-left">
                            <span class="icon">
                                <i class="icon-linegraph"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Enhance Personal Growth</h3>
                                <p>Volunteering fosters personal growth by pushing individuals to step beyond
                                    comfort zones, acquire new skills, and gain a deeper understanding of others'
                                    needs.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 animate-box">

                        <div class="feature-left">
                            <span class="icon">
                                <i class="icon-compass"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Career Exploration</h3>
                                <p> For those considering careers in healthcare or social work, volunteering in
                                    nursing homes provides hands-on experience and insights into these fields.</p>
                              
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 animate-box">
                        <div class="feature-left">
                            <span class="icon">
                                <i class="icon-earth"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Civic Engagement</h3>
                                <p>Volunteering is a form of civic engagement that allows individuals to actively
                                    contribute to the betterment of their community.</p>
                                
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="feature-left">
                            <span class="icon">
                                <i class="icon-users"></i>
                            </span>
                            <div class="feature-copy">
                                <h3>Promote Mental and Emotional Well-being</h3>
                                <p>Interacting with seniors through activities, conversations, or spending time
                                    together positively impacts the mental and emotional well-being of both
                                    volunteers and residents.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="fh5co-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-4 fh5co-widget">
                    <h4>CareConnect.</h4>
                    <p>Bridging the gap with technology to restore warmth, connection, and storytelling in nursing
                        homes.</p>
                </div>
                <div class="col-md-2 col-md-push-1 fh5co-widget">
                    <h4>Links</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-md-push-1 fh5co-widget">
                    <h4>Categories</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Landing Page</a></li>
                        <li><a href="#">Real Estate</a></li>
                        <li><a href="#">Personal</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">e-Commerce</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-push-1 fh5co-widget">
                    <h4>Contact Information</h4>
                    <ul class="fh5co-footer-links">
                        <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                        <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                        <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                        <li><a href="http://https://freehtml5.co">freehtml5.co</a></li>
                    </ul>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2023 RoReeceDev. All Rights Reserved.</small>
                        <!-- <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small> -->
                    </p>
                    <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
    </footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>
</main>
    

<%- include('partials/footer') -%>