<%- include('partials/userheader') -%>
  <main class="container">
    <h3 class="signup-head">Sign Up For CareConnect!</h3>
    <p class="vAge">Must be 16 and older to sign up as a volunteer!</p>
    <div class="row justify-content-center user">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>
                        <form action="/signup" method="POST">
                          <div class="mb-3 cont">
                            <label for="userName" class="form-label">User Name</label>
                            <input type="text" class="form-control" id="userName" name="userName">
                          </div>
                          <div class="mb-3 cont">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" name="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                          </div>
                          <div class="cont">
                            <div id="roleHelp" class="form-text">Are you a volunteer or a nursing home?</div>
                            <div class="mb-3 role">
                              <div class="roleA">
                                <label for="userRole" class="form-label">Volunteer</label>
                                <input type="radio" class="form-control" id="volunteer" value="volunteer"
                                  aria-describedby="emailHelp" name="userRole">
                              </div>
                              <div class="roleB">
                                <label for="userRole" class="form-label">Nursing Home</label>
                                <input type="radio" class="form-control" id="nursingHome" value="nursingHome"
                                  aria-describedby="emailHelp" name="userRole">
                              </div>
                            </div>
                          </div>
                          <div class="mb-3 cont">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                          </div>
                          <div class="mb-3 cont">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                          </div>
                          <div class="center-btn cont">
                            <button type="submit" class="btn btn-primary cont">Sign Up</button>
                          </div>
                        </form>
                        <div class="center-btn cont">
                        <p>Already have an account? <a href="/login">Login</a></p>
                        <p>Or go <a href="/">Home</a>.</p>
                        </div>

      </section>
    </div>
  </main>

  <%- include('partials/footer') -%>